
*.suo
*.user
*.userosscache
*.sln.docstates

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
publish/

.vs/


[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*.VisualState.xml
TestResult.xml


[Dd]ebugPS/
[Rr]eleasePS/
dlldata.c

project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json


*.nupkg
**/packages/*
!**/packages/repositories.config


*.log
*.sql
*.sqlite
*.db

local.settings.json

.idea/

.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

appsettings.Development.json

*.py[cod]
__pycache__/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

*.spec

packages/
node_modules/
.env
.env.local
*.env
venv/
.env/
.venv/
env/
ENV/